body {
    font-family: Verdana, sans-serif;   
    background-color: lightgrey;
}

body, body {
    box-sizing: border-box;
}

h2#title {
    text-align: center;
}

ol {
    margin-left: 200px;
}

div {
    border-style: solid;
    margin-left: 25%;
    margin-right: 25%;
}
